.main_container {
  max-width: 800px;
  margin: 10px 0;
  background-color: #d1d1d1;
  color: #101010;
  padding: 10px 30px;
  border-radius: 12px;
  border: 6px solid #68b0ab;
  width: 75%;
}

.icons_container {
  display: flex;
  justify-content: space-between;
  /* margin-right: 20px; */
}

.left_icons_container {
  display: flex;
  gap: 20px;
}

.icon_container {
  height: 24px;
  display: flex;
  position: relative;
  /* cursor: pointer; */
}

.icon_wrap {
  display: flex;
  flex: 1;
  width: 100%;
}

.icon {
  height: 24px;
  width: 24px;
}

.counter {
  margin-left: 6px;
}

.delete_button {
  display: flex;
  justify-content: space-between;
}

.comment_container h5 {
  margin-bottom: 0;
}

.comment_container p {
  margin-top: 0;
  margin-bottom: 0;
}

.comment_container span {
  font-size: 10px;
}

.more_button {
  cursor: pointer;
}

.more_container {
  position: absolute;
  bottom: -2px;
  right: 24px;
  list-style-type: none;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  border: #101010 2px solid;
  /* gap: 4px; */
}

.more_container li {
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
}
.more_container li:hover {
  cursor: pointer;
  background-color: #c0c0c0;
}

.more_divider {
  border-bottom: #101010 2px solid;
  /* width: 80%; */
  width: 100%;
  margin: auto;
  padding: 0;
}
