.main_container {
  max-width: 800px;
  margin: 10px 0;
  background-color: #d1d1d1;
  color: #101010;
  padding: 10px 30px;
  border-radius: 12px;
  border: 6px solid #68b0ab;
  width: 75%;
}

.icons_container {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.icon_container {
  height: 24px;
  display: flex;
}

.icon_wrap {
  display: flex;
  flex: 1;
  width: 100%;
}

.icon {
  height: 24px;
  width: 24px;
}

.total_likes {
  margin-left: 6px;
}
