/* .title a {
  all: unset;
} */

.main_container {
  height: 60px;
  width: 100%;
  background-color: #68b0ab;
  display: flex;
  align-items: center;
}

.main_container h1 {
  flex: 3;
  margin: 0;
  display: flex;
  margin-left: 80px;
}
.main_container nav {
  flex: 1.5;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  gap: 20px;
}
